<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Correspondence" version="1.4.2.0" targetFramework="wp71" />
  <package id="Correspondence.App" version="1.4.2.3" targetFramework="wp71" />
  <package id="itzben" version="1.0.2" targetFramework="sl40-wp" />
  <package id="UpdateControls" version="2.2.2.2" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp71" />
</packages>