@model FacetedWorlds.MyCon.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = @Model.ConferenceName;
}

<h2>@Model.ConferenceName</h2>

<p>When will your conference be held?</p>
<p>Where will it be held?</p>
<p>What is it about?</p>
