@{
    ViewBag.Title = "Privacy Policy";
}

<h2>Privacy Policy</h2>
<p>
    The AwesomeFest application collects your machine's IP address, so
    that we can send you session updates. It also collects the sessions that you
    have added to your schedule, so that we can determine popularity.
</p>
<p>
    Neither the developers of this app, nor the organizers of AwesomeFest will share
    your information with third parties. This information is collected solely to make your
    experience at AwesomeFest the best that it can be.
</p>
<p>Thank you for using this app, and for attending AwesomeFest!</p>
