body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    width:640px;
    margin: 0 auto;
}

header,
footer,
nav,
section {
    display: block;
}

.clear
{
    clear: both;
}

/* Top navigation
-----------------------------------------------------------*/

header
{
    background-color: #2D5C33;
    font-size: 1.7em;
}

header ul li 
{
    list-style-type: none;
}

header ul li a
{
    color: White;
    text-decoration: none;
    margin: 8px;
}

header ul li a:hover
{
    color: #C6ECC8;
}

/* Speakers
-----------------------------------------------------------*/

.speaker
{
    margin-bottom: 16px;
}

.speaker .name
{
    font-size: 1.5em;
    margin-bottom: 5px;
    border-bottom: 3px solid #8A4949;
}

.speaker .name a
{
    color: #8A4949;
    text-decoration: none;
}

.speaker img
{
    float:left;
    width: 150px;
}

.speaker p
{
    margin: 0 0 0 156px;
}

/* Speaker details
-----------------------------------------------------------*/

.details img
{
    float:left;
    width: 200px;
    margin-bottom: 16px;
}

.details p
{
    margin: 0 0 16px 206px;
}

.session
{
    margin: 8px 0;
}

.session .name
{
    margin-left: 86px;
    font-size: 1.7em;
}

.session p
{
    margin-left: 86px;
}

.session .calendar
{
    width: 80px;
    background-color: #8A4949;
    float:left;
}

.session .calendar p
{
    text-align: center;
    font-size: 1.2em;
    color: White;
    margin: 8px auto;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
