<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9b383b8f-f709-456a-bb85-3fda0561123f" Publisher="CN=Michael" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CowtownCodeCamp</DisplayName>
    <PublisherDisplayName>Michael L Perry</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FacetedWorlds.MyCon.App">
      <VisualElements DisplayName="Cowtown Code Camp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Cowtown Code Camp, Fort Worth Texas, March 16, 2013" ForegroundText="light" BackgroundColor="#7A330D">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#7A330D" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>