<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="UpdateControls" publicKeyToken="19e83a8289e31a8f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.4.1" newVersion="2.1.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="UpdateControls.Correspondence" publicKeyToken="19e83a8289e31a8f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.1" newVersion="1.3.2.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>