@model FacetedWorlds.MyCon.Web.ViewModels.SponsorsViewModel

@{
    ViewBag.Title = String.Format("{0} Sponsors", Model.ConferenceName);
}

<h2>Sponsors</h2>

<p>Give some link love to the ones paying the bills.</p>